.dropdown-container {
    width: 10vw;
    margin-right: 0.5em;
    height: 50vh;
    overflow-y: auto;
    padding: 0;
}

.dropdown-item {
    &:hover {
        background-color: lightblue;
    }
    padding: 2px;
}

svg {
    height: 50vh;
    overflow-y: auto;
}

.chip {
    background-color: lightslategray;
    border-radius: 5px;
    margin-bottom: 2px;
    &:hover {
        background-color: rgb(236, 71, 71);
    }
}