<div class="border-box definitions">
    <p class="center">Information on Selected Data Points</p>
    <div class="def-content">
        <p>
            Facilities Providing Mental Health Services - The number of facilities that provide mental health services. Types of care include crisis intervention teams, psychiatric emergency walk-in services, or mental health treatment. Facilities include hospital inpatient, outpatient, residential, or partial hospitalization/day treatment
        </p>
        <p>
            Facilities Providing Substance Abuse Services- Types of care include substance abuse treatment, detoxification, transitional housing, or halfway houses, prescribing of buprenorphine and/or naltrexone, or SAMHSA-certified Opioid Treatment Programs. Facilities include hospital inpatient, residential, or outpatient
        </p>
        <p>
            (taken from CHR - County Health Rankings)
            Mental health care providers-
            Mental health providers are defined as psychiatrists, psychologists, licensed clinical social workers, counselors, marriage and family therapists, and mental health providers that treat alcohol and other drug abuse, as well as advanced practice nurses specializing in mental health care
    
            Facilities Providing Mental Health Services- 
            The number of facilities that provide mental health services. Types of care include crisis intervention teams, psychiatric emergency walk-in services, or mental health treatment. Facilities include hospital inpatient, outpatient, residential, or partial hospitalization/day treatment
    
            National Health Service Corps data, Community Health center data, and Health Professional Shortage Area (HPSA) variables for Primary Medical Care, Dentists and Mental Health Professionals are from the Health Resources and Services Administration (HRSA) data warehouse. AHRF data include Health Professional Shortage Area (HPSA) variables indicating healthcare provider shortages in primary care, dental health, or mental health. These shortages may be based on geography, population groups, or facilities. HPSA scores are calculated based on discipline-specific methodology. The three scoring criteria common across all disciplines are population-to-provider ratio, percentage of population below 100 percent of the federal poverty level, and travel time to the nearest source of care outside the HPSA designation area. HPSA scoring methodology differentiated by discipline is available on the HRSA website (https://bhw.hrsa.gov/shortage-designation/hpsa-criteria)
        </p>
        <p>All information is quoted from the SDOH Database's Data Source Documentation</p>    
    </div>
</div>