.definitions {
    display: flex;
    flex-direction: column;
    max-height: 20%;
    text-align: start;
    .def-content {
        max-height: fit-content;
        overflow-y: auto;
    }
}

p {
    font-size: 10px;
}