.active {
    background-color: lightslategray;
}

.btn {
    padding: .5em 1.5em .5em 1.5em;
    margin-left: 5px;
    border-radius: 15px;
    border: 1px solid #000;

    &:hover {
        background-color: darkslategray;
        color:white
    }
}

a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    line-height: normal;
}
a:hover {
}

ul {
    display: flex;
    flex: row;
    list-style-type: none;
    padding: 0;
}

.text {
    text-align: center;
}