@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p, h1, h2, h3, span, a, label {
    font-family: Inter;
    font-weight: 400;
}

.header {
    align-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    font-size: 12px;
    .app-title {
        font-size: 24px;
        font-weight: 400;
        line-height: normal;    
    }
    p {
        margin: 0;
    }

    a {
        text-decoration: none;
    }
}


.italic {
    font-style: italic;
}

.border-box {
    max-width: 20vw;
    border: 1px solid #000;
    background: #FFF;
    padding: 0.5em;
    margin-bottom: 1em;
}