<div class="app-container">
  <div class="header">
    <p class="app-title">Mental Health (MH) Prevalence and Care by County in 2020</p>
    <a href="https://www.ahrq.gov/sdoh/data-analytics/sdoh-data.html" class="italic">Data taken from AHRQ’s Social Determinants of Health (SDOH) Database (Beta Version)</a>
    <p>The following visualization uses 2020 county data from the SDOH Database to deduce correlations between available mental health services, poverty, and the prevalence of mental health disorders. </p>
  </div>
  <app-nav></app-nav>
  <div class="container">
    <router-outlet></router-outlet>    
  </div>
</div>
