<div class="row">
    <div class="col">
        <app-data-points (emitClick)="updateState($event, 'x')" [selectedId]="state.x" [dataPoints]="metrics.population" [metricType]="'population'"></app-data-points>
        <app-data-points (emitClick)="updateState($event, 'y')" [selectedId]="state.y" [dataPoints]="metrics.care" [metricType]="'care'"></app-data-points>
        <app-definitions></app-definitions>
    </div>
    <div class="col">
        <p>{{(state.x) + ' v. ' + (state.y)}}</p>
        <div id="scatter-plot"></div>
    </div>
</div>
